.temps {
    display: block;
}

.temp-f {
    display: inline-block;
}

.temp-c {
    display: inline-block;
}

.search {
    display: block;
}

#search-bar {
    display: inline-block;
}
#search-button {
    display: inline-block;
}
